@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Vazirmatn', sans-serif;
}

body {
  background-color: #f8fafc;
  direction: rtl;
}

.staff-wrapper {
  max-width: 1000px;
  margin: 0 auto 60px;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../Cafe-Restaurant-Website/images/personel.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}


.section-divider {
  border: none;
  border-top: 1px solid #111;
  margin: 20px 0 30px;
}

.staff-section {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.staff-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;   
}

.staff-photo-box {
  flex: 2.1;
  border: 1px solid #111;
  background: #fff;
  height: 270px;
  overflow: hidden;       
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -230px
}

.staff-photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;       
}


.staff-text {
  flex: 1;
  font-size: 0.95rem;
  line-height: 1.8;
}

.staff-name {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {

  .hero {
    height: 200px;
  }

  .staff-section {
    padding: 0 12px;
  }

  .staff-row {
    flex-direction: column;
    align-items: stretch;
    gap: 24px;   
  }

  .staff-row--chef {
    flex-direction: column-reverse;
  }

  .staff-photo-box {
    height: 160px;
  }
}
